#hero {
	background-color: #1c0068;
	padding-top: 50px;
}

#carouselExampleIndicators {
	width: 50%;
	margin: auto;
}

.imgCarousel {
	border-radius: 6px;
}

#titre {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}