#hero {
	background-color: #1c0068;
	padding-top: 50px;
}

#containerCarousel {
	max-width: 1000px;
}

.imgCarousel {
	border-radius: 6px;
}

#titre {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}